

/* Reset CSS for removing default browser styles */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #ecf0f1; /* Örneğin gri bir arka plan */
}

/* NavBar Styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: #3498db;
  color: #fff;
}

nav a {
  text-decoration: none;
  color: #fff;
}

.icon-button {
  color: #fff;
}